[submodule "bundle/conque-shell-mirror"]
	path = bundle/conque-shell-mirror
	url = git://github.com/chumakd/conque-shell-mirror.git
[submodule "bundle/fcitx.vim"]
	path = bundle/fcitx.vim
	url = git://github.com/skydark/fcitx.vim.git
[submodule "bundle/FuzzyFinder"]
	path = bundle/FuzzyFinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/L9"]
	path = bundle/L9
	url = git://github.com/vim-scripts/L9.git
[submodule "bundle/mustache"]
	path = bundle/mustache
	url = git://github.com/juvenn/mustache.vim.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/tocdown"]
	path = bundle/tocdown
	url = git://github.com/matthias-guenther/tocdown
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = git://github.com/ap/vim-css-color.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/vim-latex-suite"]
	path = bundle/vim-latex-suite
	url = git://github.com/gerw/vim-latex-suite.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/hallison/vim-markdown
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/sudo.vim"]
	path = bundle/sudo.vim
	url = git://github.com/vim-scripts/sudo.vim.git
[submodule "bundle/dwm.vim"]
	path = bundle/dwm.vim
	url = git://github.com/spolu/dwm.vim.git
[submodule "bundle/genutils"]
	path = bundle/genutils
	url = git://github.com/vim-scripts/genutils.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/pegjs-vim"]
	path = bundle/pegjs-vim
	url = git://github.com/alunny/pegjs-vim.git
[submodule "bundle/vim-pandoc"]
	path = bundle/vim-pandoc
	url = git://github.com/vim-pandoc/vim-pandoc.git
